/__pycache__/
/k_diffusion/__pycache__/

data/CASIA-WebFace/features_scale_2/bonafide/raw/
/data/CASIA-WebFace/features_scale_1/bonafide/raw/*
/data/CASIA-WebFace/features_scale_2/bonafide/raw/*
/data/CASIA-WebFace/images/bonafide/raw/
/data/FRGC/*.jpg
/data/FRGC/*.jpeg
/data/FRGC/*.png
/output/experiment/checkpoints/*
